<div class="jumbotron">
    <h1>Access</h1>
    <p>Mongorilla is an Open Source Content Management System.</p>
    <form class="form-inline" role="form" method="post" action="/auth/login">
        <div class="form-group">
            <label class="sr-only" for="user">Email address</label>
            <input type="text" class="form-control" id="user" placeholder="Username" name="user">
        </div>
        <div class="form-group">
            <label class="sr-only" for="pass">Password</label>
            <input type="password" class="form-control" id="pass" placeholder="Password" name="pass">
        </div>
        <!--div class="checkbox">
            <label>
                <input type="checkbox"> Remember me
            </label>
        </div-->
        <button type="submit" class="btn btn-default" value="login" disabled="disabled">Sign in</button>
    </form>

    <!--p><a class="btn btn-primary btn-lg" role="button">Learn more</a></p-->
</div>
