<!DOCTYPE html>
<html>
    <head>
        <title><%= global.config.project_name||'Mongorilla' %><%= title ? ' | ' + title : '' %></title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1">
        <link href="/third-party/bootstrap/dist/css/bootstrap.min.css" media="all" rel="stylesheet" type="text/css" />
        <link href="/third-party/backbone-forms/distribution/templates/bootstrap3.css" media="all" rel="stylesheet" type="text/css" />
        <link href="/layout.css" media="all" rel="stylesheet" type="text/css" />
        <link href="/third-party/bs-fancyfile/css/bootstrap-fancyfile.min.css" media="all" rel="stylesheet" type="text/css" />
        <link href="/lib/aloha/css/aloha.css" type="text/css" rel="stylesheet" />
    </head>
    <body>
        <nav class="navbar navbar-default" role="navigation">

            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/"><%= global.config.project_name||'Mongorilla' %></a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                    <% if (sessionUser) { %>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-search"></span> Search <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                            <% collections.forEach(function (collection) { %>
                                <% if (global.helpers.hasPermission(sessionUser, collection.name, 'r')) { %>
                                <li><a href="/search/<%= collection.name %>"><%= collection.humanName %></a></li>
                                <% } %>
                            <% }) %>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-plus"></span> Create <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                            <% collections.forEach(function (collection) { %>
                                <% if (global.helpers.hasPermission(sessionUser, collection.name, 'r')) { %>
                                <li><a href="/add/<%= collection.name %>"><%= collection.humanName %></a></li>
                                <% } %>
                            <% }) %>
                            </ul>
                        </li>
                    <% } %>
                    </ul>
                    <!--form class="navbar-form navbar-left" role="search">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Search">
                        </div>
                        <button type="submit" class="btn btn-default">Submit</button>
                    </form-->
                    <ul class="nav navbar-nav navbar-right">
                    <% if (sessionUser) { %>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span> <%= sessionUser.fullname %> <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="/auth/logout">Logout</a></li>
                            </ul>
                        </li>
                    <% } %>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->

        </nav>

        <div class="container">
        <%= body %>
        </div>


        <footer class="m-footer" role="contentinfo">
            <div class="container">
                <% if (!sessionUser) { %>
                <div class="m-social">
                    <ul class="m-social-buttons">
                        <li>
                            <iframe class="github-btn" src="http://ghbtns.com/github-btn.html?user=gerardobort&amp;repo=mongorilla&amp;type=watch&amp;count=true" width="100" height="20" title="Star on GitHub"></iframe>
                        </li>
                        <li>
                            <iframe class="github-btn" src="http://ghbtns.com/github-btn.html?user=gerardobort&amp;repo=mongorilla&amp;type=fork&amp;count=true" width="102" height="20" title="Fork on GitHub"></iframe>
                        </li>
                    </ul>
                </div>
                <% } %>

                <p>
                    Created by <a href="http://twitter.com/gerardobort" target="_blank">@gerardobort</a>.
                    Code licensed under <a href="https://github.com/gerardobort/mongorilla/blob/master/LICENSE" target="_blank">MIT</a>.
                </p>
            </div>
        </footer>

        <script src="/third-party/jquery/dist/jquery.min.js"></script>
        <script src="/third-party/underscore/underscore.js"></script>
        <script src="/third-party/backbone/backbone.js"></script>
        <script src="/third-party/backbone-deep-model/distribution/deep-model.min.js"></script>
        <script src="/third-party/bootstrap-modal/js/bootstrap-modal.js"></script>
        <script src="/third-party/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="/lib/bootstrap-typeahead.js"></script>
        <script src="/lib/humane.js"></script>

        <% if ('boolean' === typeof includeFormsAssets && true === includeFormsAssets) { %>
        <script src="/third-party/backbone-forms/distribution/backbone-forms.min.js"></script>
        <script src="/third-party/backbone-forms/distribution/adapters/backbone.bootstrap-modal.js"></script>
        <script src="/lib/editors/list.js"></script>
        <script src="/lib/editors/file.js"></script>
        <script src="/lib/editors/image.js"></script>
        <script src="/lib/editors/object-id.js"></script>
        <script src="/lib/editors/ckeditor.js"></script>
        <!--script src="/third-party/backbone-forms/distribution/templates/default.js"></script-->
        <script src="/third-party/backbone-forms/distribution/templates/bootstrap3.js"></script>
        <script src="/third-party/bs-fancyfile/js/bootstrap-fancyfile.min.js"></script>
        <!-- script src="/third-party/ckeditor/ckeditor.js"></script -->
        <script src="/lib/ckeditor/ckeditor.js"></script>
        <script src="/third-party/requirejs/require.js" data-main="/init.js" ></script>
            <% if ('boolean' === typeof includeAloha && true === includeAloha) { %>
            <!-- Aloha is a heavy library, so this is why it loads only when necessary -->
            <script type="text/javascript" src="/lib/aloha/lib/aloha.js"
                    data-aloha-plugins="common/ui,
                                        common/format,
                                        common/table,
                                        common/list,
                                        common/link,
                                        common/highlighteditables,
                                        common/block,
                                        common/undo,
                                        common/contenthandler,
                                        common/paste,
                                        common/commands,
                                        common/abbr"></script>
            <script src="/lib/editors/aloha.js"></script>
            <% } %>
        <% } else { %>
        <script src="/third-party/requirejs/require.js" data-main="/init.js" ></script>
        <% } %>

    </body>
</html>
