<div class="box">
    <div class="box-header">
        <h3 class="box-title">
            <%= config.humanName %>
        </h3>
        <div class="box-tools pull-right">
            <a href="/search/<%= config.name %>" class="btn btn-default fa fa-search"></a>
        </div>
    </div><!-- /.box-header -->
    <div class="box-body">
        <% if (collection.models.length) { %>
        <table class="table table-stripped">
            <tr>
                <th style="width: 10px">#</th>
                <th><%= config.schema[ config.toStringField ].title || 'Title' %></a></th>
                <th style="width: 10px"></th>
                <th>Modified <i class="fa fa-caret-down"></i></th>
                <th>API Endpoint</th>
            </tr>
            <% _(collection.models).each(function (model, i) { %>
            <tr>
                <td style="width: 10px"><%= (i+1) + (pager.ipp * (pager.p-1)) %></td>
                <td style="width: 50%">
                    <a href="/edit/<%= config.name %>/<%= model.get('_id') %>"><%= model.toString() %></a>
                    <% if ((new Date(model.get(config.createdField.key))) > (new Date(Date.now() - 60*60*3000))) { %>
                        &nbsp; <span class="label label-success">New &nbsp; <i class="fa fa-clock-o"></i></span>
                    <% } else if ((new Date(model.get(config.updatedField.key))) > (new Date(Date.now() - 60*60*3000))) { %>
                        &nbsp; <span class="label label-info">Recently edited &nbsp; <i class="fa fa-clock-o"></i></span>
                    <% } %>
                </td>
                <td><a class="btn btn-default btn-xs" target="_blank" href="/preview/<%= config.name + '/' + model.get('_id') %>"><i class="fa fa-eye"></i></a></td>
                <td><time datetime="<%= model.get(config.updatedField.key) %>"></time></td>
                <td><a target="_blank" href="/api/<%= config.name + '/' + model.get('_id') %>"><i class="fa fa-link"></i></a></td>
            </tr>
            <% }) %>
        </table>
        <% } else { %>
        <div class="alert alert-warning alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <strong>Oops!</strong> No content found.
        </div>
        <% } %>
    </div><!-- /.box-body -->
    <div class="box-footer clearfix">

        <%
            var getAttrPagerData = function (p) {
                return JSON.stringify(_.extend({}, pager, { p: p })).replace(/"/g, '&quot;');
            }
        %>
        <ul class="pagination pagination-sm no-margin pull-right">
            <li><a href="#" data-pager="<%= getAttrPagerData(1) %>" class="fa fa-caret-left"></a></li>
            <% for (var p = (pager.p < 3 ? 3 - pager.p : pager.p-2); p < pager.p; p++) { %>
            <li><a href="#" data-pager="<%= getAttrPagerData(p) %>"><%= p %></a></li>
            <% } %>
            <li><a href="#" data-pager="<%= getAttrPagerData(pager.current) %>" class="bg-blue"><%= pager.p %></a></li>
            <% for (var p = pager.p+1; p < (pager.total_pages - (pager.p+1) < 2 ? pager.total_pages+1 : pager.p+3); p++) { %>
            <li><a href="#" data-pager="<%= getAttrPagerData(p) %>"><%= p %></a></li>
            <% } %>
            <li><a href="#" data-pager="<%= getAttrPagerData(pager.total_pages) %>" class="fa fa-caret-right"></a></li>
        </ul>
    </div>
</div><!-- /.box -->
