<div class="page-header">
    <h1><%= collection.humanName %> <small>Create Content</small></h1>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-xs-2 col-md-2"></div>
        <div class="col-xs-10 col-md-10">
            <div id="collection-form" data-collection-name="<%= collection.name %>"
                <%= global.helpers.hasPermission(sessionUser, collection.name, 'c') ? 'data-permission-c' : '' %>
                <%= global.helpers.hasPermission(sessionUser, collection.name, 'r') ? 'data-permission-r' : '' %>
                <%= global.helpers.hasPermission(sessionUser, collection.name, 'u') ? 'data-permission-u' : '' %>
                <%= global.helpers.hasPermission(sessionUser, collection.name, 'd') ? 'data-permission-d' : '' %>
            ></div>

            <div class="btn-group pull-right" id="form-controls"></div>
        </div>
    </div>
</div>
